<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ArticleMapper" >
    <resultMap id="articleMap" type="article">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="ar_title" property="arTitle"/>
        <result column="ar_desc" property="arDesc"/>
        <result column="ar_content" property="arContent"/>
        <result column="ar_content_html" property="arContentHtml"/>
        <result column="ar_ctime" property="arCtime"/>
        <result column="ar_etime" property="arEtime"/>
        <result column="ar_state" property="arState"/>
        <result column="ar_up" property="arUp"/>
        <result column="ar_img" property="arImg" />
    </resultMap>
    <resultMap id="articleMapVO" type="articleVO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="ar_title" property="arTitle"/>
        <result column="ar_desc" property="arDesc"/>
        <result column="ar_content" property="arContent"/>
        <result column="ar_ctime" property="arCtime"/>
        <result column="ar_etime" property="arEtime"/>
        <result column="ar_state" property="arState"/>
        <result column="ar_up" property="arUp"/>
        <result column="tagC" />
        <result column="tagL" />
        <result column="full_name" property="fullName" />
        <result column="count_num" property="countNum" />
        <result column="ar_img" property="arImg" />
        <association property="tag" column="{id=id,tagType=tagC}" select="selectTagByBlogId" />
        <association property="listLables" column="{id=id,tagType=tagL}" select="selectTagByBlogId" />
    </resultMap>
    <resultMap id="tagMap" type="tag">
        <id column="id" property="id"/>
        <result column="tag_name" property="tagName"/>
        <result column="enabled" property="enabled"/>
        <result column="sort" property="sort"/>
        <result column="note" property="note"/>
        <result column="tag_type" property="tagType"/>
    </resultMap>
    <sql id="table">
        blog_article
    </sql>
    <sql id="field">
        id,
        user_id,
        ar_title,
        ar_desc,
        ar_content,
        ar_content_html,
        ar_ctime,
        ar_etime,
        ar_state,
        ar_up
    </sql>
    <sql id="fieldValue">
        #{id},
        #{userId},
        #{arTitle},
        #{arDesc},
        #{arContent},
        #{arContentHtml},
        #{arCtime},
        #{arEtime},
        #{arState},
        #{arUp}
    </sql>

    <insert id="save" parameterType="article">
        INSERT  INTO
        <include refid="table"/>
        (
        <include refid="field"/>
        )
        VALUES
        (
        <choose>
            <when test="id == null || id == ''">
                (SELECT replace((SELECT  uuid()),"-","")),
            </when>
            <otherwise>
                #{id},
            </otherwise>
        </choose>
        #{userId},
        #{arTitle},
        #{arDesc},
        #{arContent},
        #{arContentHtml},
        #{arCtime},
        #{arEtime},
        #{arState},
        #{arUp},
        #{arImg}
        )
    </insert>
    <select id="selectTagByBlogId" resultMap="tagMap" parameterType="map">
        SELECT id,tag_name,enabled,sort,note,tag_type FROM blog_tag WHERE id IN (SELECT tag_id FROM rl_article_tag WHERE article_id = #{id}) AND tag_type = #{tagType}
    </select>
    <select id="showAllPage" parameterType="articleVO" resultMap="articleMapVO">
        SELECT
            b.id,
            b.user_id,
            b.ar_title,
            b.ar_desc,
            b.ar_ctime,
            b.ar_etime,
            b.ar_state,
            b.ar_up,
            'C' as tagC,
            'L' as tagL,
            u.full_name,
            v.count_num,
            b.ar_img
        FROM
          blog_article b
        LEFT JOIN sys_user u ON u.id = b.user_id
        LEFT JOIN (SELECT count(*) AS count_num,article_id FROM  blog_visit GROUP BY article_id) v ON  b.id = v.article_id
        WHERE
          b.ar_state = 'FB'
        <if test="arTitle != null and arTitle != ''">
            AND  b.ar_title LIKE  '%${arTitle}%'
        </if>
        <if test="arUp != null and arUp != ''" >
            AND  b.ar_up = #{arUp}
        </if>
        <if test="tagId != null and tagId != ''">
            AND find_in_set(b.id,(SELECT GROUP_CONCAT(a.article_id) FROM (SELECT article_id FROM rl_article_tag WHERE tag_id = #{tagId}) a))
        </if>
        ORDER  BY b.ar_etime DESC
    </select>
    <select id="query" parameterType="article" resultMap="articleMap">
        SELECT
        <include refid="field"/>
        FROM
        <include refid="table"/>
        where 1 =1
        <if test="id != null and id != ''">
            AND id = ${id}
        </if>
        <if test="arState != null and arState != ''">
            AND ar_state = #{arState}
        </if>
        <if test="arContent != null and arContent != ''">
            AND  ar_content LIKE  '%${arContent}%'
        </if>
        <if test="arTitle != null and arTitle != ''">
            AND  ar_title LIKE  '%${arTitle}%'
        </if>
        <if test="arDesc != null and arDesc != ''">
            AND  ar_desc LIKE  '%${arDesc}%'
        </if>
        ORDER  BY ar_etime
    </select>
    <select id="getAllByTagId" parameterType="string" resultMap="articleMap">
        SELECT a.* FROM blog_article a LEFT JOIN rl_article_tag r ON a.id = r.article_id WHERE r.tag_id = #{0}
        ORDER BY a.ar_ctime DESC
    </select>
    <select id="getShowById" parameterType="string" resultMap="articleMapVO">
        SELECT
          b.id,
          b.user_id,
          b.ar_title,
          b.ar_desc,
          b.ar_ctime,
          b.ar_etime,
          b.ar_state,
          b.ar_content,
          b.ar_content_html,
          b.ar_up,
          'C' as tagC,
          'L' as tagL,
          u.full_name,
          b.ar_img
        FROM
          blog_article b
          LEFT JOIN sys_user u ON u.id = b.user_id
        WHERE
          b.id =#{0}
    </select>
    <select id="selectById" parameterType="String" resultMap="articleMap">
        SELECT
        <include refid="field"/>
        FROM
        <include refid="table"/>
        WHERE id = #{0}
    </select>
    <update id="update" parameterType="article" >
        UPDATE
        <include refid="table"/>
        SET
        id = #{id}
        <if test="arTitle != null and arTitle !=''">
            , ar_title = #{arTitle}
        </if>
        <if test="arDesc != null and arDesc !=''">
            , ar_desc = #{arDesc}
        </if>
        <if test="arContent != null and arContent !=''">
            , ar_content = #{arContent}
        </if>
        <if test="arContentHtml != null and arContentHtml !=''">
            , ar_content_html = #{arContentHtml}
        </if>
        <if test="arEtime != null ">
            , ar_etime = #{arEtime}
        </if>
        <if test="arState != null and arState !=''">
            , ar_state = #{arState}
        </if>
        <if test="arUp != null and arUp !=''">
            , ar_up = #{arUp}
        </if>
        <if test="arImg != null and arImg != ''">
            , ar_img = #{arImg}
        </if>
        WHERE
        id = #{id}
    </update>
    <delete id="deletedById" parameterType="String">
        DELETE FROM
        <include refid="table"/>
        WHERE
        id = #{0}
    </delete>
    <insert id="saverlAT" parameterType="map">
        INSERT INTO rl_article_tag
          (id, tag_id, article_id)
        VALUES
        <choose>
            <when test="tagId != null and tagId != ''">
                ( #{id},
                #{tagId},
                #{articleId})
            </when>
            <otherwise>
                <foreach collection="list" separator="," item="lables" open="(" close=")">
                    <choose>
                        <when test="id == null || id == ''">
                            (SELECT replace((SELECT  uuid()),"-","")),
                        </when>
                        <otherwise>
                            #{id},
                        </otherwise>
                    </choose>
                    #{lables},
                    #{articleId}
                </foreach>
            </otherwise>
        </choose>

    </insert>
</mapper>